<div class="main_container">
  <div class="container">
    <div class="row">
      <div class="faq_heading">FAQ</div>
      <div class="faq_subheading">Frequently Asked Questions</div>
    </div>
    <div class="faqs">
      <div class="row faq">
        <div class="faq_title">Who do I contact if I choose to cancel my services?</div>
        <div class="faq_answer">
          <div class="faq_image">
            <img src="/assets/arrow.png">
          </div>
          <div class="faq_paragraph">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, reprehenderit, placeat. Blanditiis magnam nam itaque placeat vitae enim sit, repellat nesciunt recusandae, expedita eaque soluta. Quasi, fugiat, atque. Id, aut.
          </div>
        </div>
      </div>
      <div class="row faq">
        <div class="faq_title">Who do I contact if I choose to cancel my services?</div>
        <div class="faq_answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati placeat quidem consectetur ipsam accusantium omnis, dolorem libero accusamus laborum officiis non voluptatibus iste eveniet odio ex tenetur vitae esse error!</div>
      </div>
      <div class="row faq">
        <div class="faq_title">Who do I contact if I choose to cancel my services?</div>
        <div class="faq_answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis molestiae amet dignissimos beatae laudantium. Perspiciatis aperiam eos, quo, at soluta totam earum. Soluta officia, commodi dolores quia alias perspiciatis eligendi.</div>
      </div>
      <div class="row faq">
        <div class="faq_title">Who do I contact if I choose to cancel my services?</div>
        <div class="faq_answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis dicta ad totam, amet unde quasi. Minima excepturi error commodi at, sequi amet consequuntur modi, laborum facere facilis eaque explicabo, eius.</div>
      </div>
      <div class="row faq">
        <div class="faq_title">Who do I contact if I choose to cancel my services?</div>
        <div class="faq_answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio repellendus autem, sunt provident, sint laboriosam recusandae debitis culpa beatae placeat esse aspernatur, ipsum quod? Ab, quaerat quae? Adipisci, repudiandae, totam.</div>
      </div>
      <div class="row faq">
        <div class="faq_title">Who do I contact if I choose to cancel my services?</div>
        <div class="faq_answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique dolorem quaerat sequi sint inventore, natus iure laboriosam repellendus soluta maiores aperiam, aliquam suscipit perspiciatis nesciunt vitae earum officia sapiente vel!</div>
      </div>
      <div class="row faq">
        <div class="faq_title">Who do I contact if I choose to cancel my services?</div>
        <div class="faq_answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam ut odit maxime ipsam at et, fugiat est corporis aliquid sint sed molestias rerum, itaque. Consequuntur soluta tempore velit, ratione facere!</div>
      </div>
      <div class="row faq">
        <div class="faq_title">Who do I contact if I choose to cancel my services?</div>
        <div class="faq_answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta doloremque necessitatibus optio possimus dolores rerum in vitae, nam ducimus. Inventore totam earum ducimus quod voluptatibus, distinctio dolorum officiis praesentium explicabo.</div>
      </div>
      <div class="row faq">
        <div class="faq_title">Who do I contact if I choose to cancel my services?</div>
        <div class="faq_answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat modi voluptatibus consequatur, atque sequi eos, in aliquid vel illo esse. Repudiandae distinctio nihil voluptatibus beatae, obcaecati pariatur, laudantium nulla. Quae.</div>
      </div>
      <div class="row faq">
        <div class="faq_title">Who do I contact if I choose to cancel my services?</div>
        <div class="faq_answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda officiis, eius facere, consectetur at quasi? Animi delectus quaerat culpa necessitatibus doloremque dignissimos odio officiis ad, minima eveniet reiciendis eos et!</div>
      </div>
    </div>
  </div>
</div>
<script>
  $(function(){
    faqSlide();
  });
</script>