<div class="intro-header main_container">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 col-md-offset-0 action_box">
                <div class="intro-message">
                 Review Your Local Options And Switch To Renewable Electricity In 5 Minutes
                </div>
                <form class="form-inline splash_form" action="/electric_packages" method="GET">
                    <div class='form-group'>
                        <input type="text" name="zip_code" id="splash_input" placeholder="Enter Zip">
                    </div>
                    <div class="form-group ">
                        <input class='zip_submit btn btn-success' type="submit" id="splash_submit" value="Go Green">
                    </div>
                </form>  
            </div>
        </div>
    </div>
</div>
<!-- /.intro-header -->

<!-- middle Section -->
<div class="second_section">
    <div class="container">
        <div class="row how_it_works">
            How It Works
        </div>
        <h2>You Don't Need A Solar Panel To Run Your Home On Renewable Energy</h2>
        <div class="row" id="pitches">
            <div class="col-md-4 pitch_point">
                <div class="pitch_icon">
                    <img src="http://www.placebear.com/150/150">
                </div>
                <div class="pitch_tagline">Review Your Local Renewable Electricity Packages</div>
            </div>
            <div class="col-md-4 pitch_point">
                <div class="pitch_icon">
                    <img src="http://www.placebear.com/150/150">
                </div>
                <div class="pitch_tagline">Choose The Package That Works For You</div>
            </div>
            <div class="col-md-4 pitch_point">
                <div class="pitch_icon">
                    <img src="http://www.placebear.com/150/150">
                </div>
                <div class="pitch_tagline">Join The Green Energy Movement</div>
            </div>
        </div>
    </div>
</div>

<div class="third_section">
    <div class="container">
        <div class="row concerns_title">
            Have No Fear
        </div>
        <div class="row" id="concerns_1">
            <div class="col-md-4 concern_point">
                <div class="concern_tagline">No Blackouts</div>
                <div class="concern_icon">
                    <i class="fa fa-lightbulb-o fa-10x"></i>
                </div>
                <div class="concern_explanation">You will have the same reliable service you always had.
                </div>
            </div>
            <div class="col-md-4 concern_point">
                <div class="concern_tagline">No Blackouts</div>
                <div class="concern_icon">
                    <i class="fa fa-lightbulb-o fa-10x"></i>
                </div>
                <div class="concern_explanation">You will have the same reliable service you always had.
                </div>
            </div>
            <div class="col-md-4 concern_point">
                <div class="concern_tagline">No Blackouts</div>
                <div class="concern_icon">
                    <i class="fa fa-lightbulb-o fa-10x"></i>
                </div>
                <div class="concern_explanation">You will have the same reliable service you always had.
                </div>
            </div>
        </div>
        <div class="row" id="concerns_2">
            <div class="col-md-4 concern_point">
                <div class="concern_tagline">No Blackouts</div>
                <div class="concern_icon">
                    <i class="fa fa-lightbulb-o fa-10x"></i>
                </div>
                <div class="concern_explanation">You will have the same reliable service you always had.
                </div>
            </div>
            <div class="col-md-4 concern_point">
                <div class="concern_tagline">No Blackouts</div>
                <div class="concern_icon">
                    <i class="fa fa-lightbulb-o fa-10x"></i>
                </div>
                <div class="concern_explanation">You will have the same reliable service you always had.
                </div>
            </div>
            <div class="col-md-4 concern_point">
                <div class="concern_tagline">No Blackouts</div>
                <div class="concern_icon">
                    <i class="fa fa-lightbulb-o fa-10x"></i>
                </div>
                <div class="concern_explanation">You will have the same reliable service you always had.
                </div>
            </div>
        </div>
    </div>
</div>
<script>
  $(function(){
    colorNav();
  });
</script>