<div class="splash">
  <div class="container-fluid splash_form">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="title">Greenir</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <form action="/electric_packages" method="GET">
          <div class="form-group">
            <input type="text" name="zip_code" id="splash_input">
          </div>
          <div class="form-group">
            <input type="submit" id="splash_submit" value="Go Green">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>