<div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                      <h1>Supply Your Home Or Apartment With Renewable Electricity In Less Than 5 Minutes</h1>
                    </div>
                    <form class="form-inline" action="/electric_packages" method="GET">
                          <div class='form-group'>
                            <input type="text" name="zip_code" id="splash_input" placeholder="Enter Zip">
                          </div>
                          <div class="form-group">
                            <input class='zip_submit' type="submit" id="splash_submit" value="Go Green">
                          </div>
                        </form>  
                </div>
            </div>

            <div class="row" id="pitches">
              <div class="col-md-4"><h2>Review Your Local Renewable Electricity Packages</h2></div>
              <div class="col-md-4"><h2>Choose The Package That Works For You</h2></div>
              <div class="col-md-4"><h2>Join The Green Energy Movement</h2></div>
            </div>

          
      </div>
        <!-- /.container -->

</div>
<!-- /.intro-header -->


<!-- middle Section -->
<div class="middle_section">
  <div class="row">


  </div>
</div>


<!-- end middle section -->






