<!-- .intro-header -->
	<div class="faq_header">
		<div class="intro-header main_container">
		    <div class="container">
		        <div class="row">
		         <h1 class="faq_title">FAQ</h1>
		         <a href="mailto:support@getgreenir.com?Subject=Greenir Help" target="_blank">
		         	<button  type="button" class="btn btn-success btn-lg">Ask Us A Question</button>
		     	</a>
		        </div>
		    </div>
		</div>
	</div>
<!-- /.intro-header -->

<!-- FAQ Section -->
<div class="faqs">

	<div class="row">
	  <div class="col-md-3"></div>
	  <div class="col-md-6">
	  	<ul class="list-inline">
	  		<li><a href="#general">General</a></li></a>
	  		<li><a href="#switching">Switching</a></li>
	  		<li><a href="#billing">Billing</a></li>
	  	</ul>
	  </div>
	  <div class="col-md-3"></div>
	</div>

	<div class="row">
	  <div class="col-md-2"></div>
	  <div class="col-md-8">
	  	<h1><a name="general" style="text-decoration: none;">General</a></h1>
	  	<div class="accordion">

			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What Is Greenir?</a>
				</div>
				<div id="collapseOne" class="accordion-body collapse in">
					<div class="accordion-inner">Greenir is the only marketplace for 100% renewable electricity for your home or apartment.	If you’re in one of the [link to list of 24 states] 24 deregulated energy markets in the US, you have a choice when it comes to who provides you with your electricity. There are a lot of utility companies that offer electricity plans with different terms and price points, but we focus on the ones that offers electricity sourced from 100% renewable methods (solar, wind, hydro).</div>
				</div>
			</div>

			<div class="accordion-group">
				<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">So How Do I Know These Green Energy Guys Are Reliable? What If My Power Goes Out?</a>
				</div>
				<div id="collapseTwo" class="accordion-body collapse">
					<div class="accordion-inner">Regardless of which utility company your choose, your electricity will continue to be delivered to your home or apartment by the same local company who currently owns and maintains the electricity. If there is a power outage, your electricity will return at the same time as your neighbor’s who may not be a Greenir customer. What you are choosing from Greenir is the supplier of the electricity, not the deliver method.</div>
				</div>
			</div>

			<div class="accordion-group">
				<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">Hmm, This Sounds Pretty Sweet! Why Are You Guys Doing This?</a>
				</div>
				<div id="collapseThree" class="accordion-body collapse">
					<div class="accordion-inner">Glad you think so! There are a couple of reasons why we wanted to start Greenir. Like many others, we are concerned about the environment, our reliability on “dirty” methods of energy production, and are excited that we are truly at the point in time when supplying your home with renewable electricity is easy and affordable! We also think that there is a HUGE gap information regarding your ability to choose an energy supplier. We believe that if more people knew that they could switch to 100% green electricity, that we’d see a sharp increase in renewable electricity demand and, in result, further investment into renewable technology and R&D.</div>
				</div>
			</div>

			<div class="accordion-group">
				<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapseFour">What Are You Guys Getting Out Of This?</a>
				</div>
				<div id="collapseFour" class="accordion-body collapse">
					<div class="accordion-inner">We are pretty straightforward about our business model and revenue stream. We take a commission on every new customer we bring to our utility partners. <b>This commission is paid by the utility company, not the consumer and all prices you see are Greenir are the same prices our utility partners provide to the public directly.</b></div>
				</div>
			</div>

			<hr>

			<h1><a name="switching" style="text-decoration: none;">Switching Electricity Providers</a></h1>

			<div class="accordion-group">
				<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#collapseFive">How Do I Know If I Am Eligable To Switch Plans?</a>
				</div>
				<div id="collapseFive" class="accordion-body collapse">
					<div class="accordion-inner">In deregulated markets, if you currently pay your utility company directly (vs. paying your building or a landlord), you have the right to select your electricity providers –it’s that simple!</div>
				</div>
			</div>

			<div class="accordion-group">
				<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion6" href="#collapseSix">Well, I’m Convinced! What Happens Once I've Made The Switch To Green Energy?</a>
				</div>
				<div id="collapseSix" class="accordion-body collapse">
					<div class="accordion-inner">In terms of your day to day, not much is going to change. Your new supplier will reach out to you (each supplier has their own switching process) and they will set up your new billing process. Your new supplier will cancel your existing service for you. Switching suppliers does not take any activity on your end besides paying the bill, but will take a little time (usually a couple of week) before taking into effect as your new supplier will work with your electricity delivery provider to make sure everything is in order. After that, you’ll receive your bill from your new supplier and know that the electricity you are using has come directly from a renewable energy source.</div>
				</div>
			</div>

			<div class="accordion-group">
				<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion7" href="#collapseSeven">Why Are There No Green Energy Options In My Area?</a>
				</div>
				<div id="collapseSeven" class="accordion-body collapse">
					<div class="accordion-inner">For right now, Greenir is only operating in New York. As we continue to grow as a company and increase our utility partner network, we will expand into the other deregulated electricity markets. If you’d like to be notified when we come to your area, feel free to <a href=”#”>join our email list</a></div>
				</div>
			</div>

			<div class="accordion-group">
				<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion8" href="#collapseEight">Will I Save Money?</a>
				</div>
				<div id="collapseEight" class="accordion-body collapse">
					<div class="accordion-inner">It's definitely possible, but we can't guarantee it. Just like your current electricity rates (if you're on a variable plan), prices change regularly. That being said, we aim to provide our customers with a variety of green energy packages that range in price. We've found that many of the packages that we offer hover around the same price as your state's default electricity provider, with the added benefit of being green!</div>
				</div>
			</div>

		<hr>

		<h1><a name="billing" style="text-decoration: none;">Billing</a></h1>

		</div>
	  </div>
	  <div class="col-md-2"></div>

		
</div>


<!-- End FAQ Section -->


