body {
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

/* Navigation Styling Starts */

.nav {
  margin-right: 20px;

}
.nav a {
  margin-top: 20px;
  color: white;
  font-size: 17px;
  font-weight: bold;
}

.nav li a:hover {
  color: #00AF33;
  background-color: transparent;
}

.navbar-brand {
  padding: 0;
}

.navbar {
  background-color: rgba(26, 26, 102, 1);
  height: 5em;
}

.logo {
  height: 80px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
}

/* Navigation Styleing Ends */


/* Start Intro Section */

.action_box {
  background-color: rgba(8,8,8,0.5);
  border-radius: 6px;
  height: 100%;
}
.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 10em;
    text-align: center;
    color: #f8f8f8;
    background: url("temp_green_background.jpg") no-repeat center center;
    background-size: cover;
}
.intro-message {
  font-size: 3em;
  padding: 0.5em 1em;
  letter-spacing: 1px;
  word-spacing: 5px;
}

.logo {
  height: 80px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
}

.splash_form {
  margin: 5em 0;
}

#splash_input {
	height: 45px;
	width: 10em;
	font-size: 30px;
  border: 0;
  border-radius: 2px;
  color: #333;
}

.zip_submit {
    font-size: 23px;
}


/* End Intro section */

.middle_section {
    background-color: #edeef0;
    text-align: center;
}

.how_it_works {
  font-size: 4em;
  margin-top: 0.5em;
  word-spacing: 9px;
  letter-spacing: 1px;
}

#pitches {
  margin: 4em 0;
}

.pitch_tagline {
  font-size: 1.8em;
  letter-spacing: 0.5px;
  margin-top: 1em;
}
.pitch_icon img {
  border-radius: 50%;
}

/* Start Middle Section */