.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url("cartoon_background.jpg") no-repeat center center;
    background-size: cover;
    height: 30em;
}

#splash_input {
	height: 45px;
	width: 10em;
	font-size: 30px;
}

.zip_submit {
    background-color: green;
    height: 45px;
    font-size: 25px;
}

#pitches {
	margin-top: 20px;
}
