body {
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Raleway', sans-serif;
    /*font-weight: 300;*/
}
.main_container {
  padding-top: 6em;
}
.big_text {
  font-size: 2em;
}
/* Navigation Styling Starts */
.custom {
  border: 0;
}
.custom .nav {
  margin-right: 20px;
}
.custom .navbar-nav>li>a {
  margin-top: 20px;
  color: white;
  font-size: 17px;
  font-weight: bold;
}

.custom .nav li a:hover {
  color: rgb(49, 240, 103);
  background-color: transparent;
}

.custom .navbar-brand {
  color: white;
  padding: 0;
}

.custom .navbar-brand:hover {
  color: rgb(49, 240, 103);
  background-color: transparent;
}

.navbar {
  height: 5em;
  background-color: rgba(255,255,255,0);
}

.logo {
  height: 80px;
  padding: 10px;
  margin-bottom: 10px;
}

/* Navigation Styling Ends */

/**************HOME PAGE*****************/
/* Start Intro Section */

.action_box {
  background-color: rgba(8,8,8,0.5);
  border-radius: 6px;
  height: 100%;
}
.intro-header {
    padding-bottom: 10em;
    text-align: center;
    color: #f8f8f8;
/*    background: url("temp_green_background.jpg") no-repeat center center;
    background-size: cover;*/

    background: url("temp_green_background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.intro-message {
  font-size: 3em;
  padding: 0.5em 1em;
  letter-spacing: 1px;
  word-spacing: 5px;
}

.splash_form {
  margin: 5em 0;
}

#splash_input {
	height: 45px;
	width: 10em;
	font-size: 30px;
  border: 0;
  border-radius: 2px;
  color: #333;
}

.zip_submit {
    font-size: 23px;
}


/* End Intro section */

/* Start Second/Third Section */
.second_section, .third_section {
  text-align: center;
}

.how_it_works, .concerns_title {
  font-size: 4em;
  margin-top: 0.5em;
  word-spacing: 9px;
  letter-spacing: 1px;
}

#pitches, #concerns_1, #concerns_2 {
  margin: 5em 0;
}
.pitch_point {
  padding: 2em 0;
  margin: 1em 0;
}
.pitch_tagline {
  font-size: 1.8em;
  letter-spacing: 0.5px;
  margin-top: 1em;
}
.pitch_icon img {
  border-radius: 50%;
}

.third_section {
  background-color: #eee;
}

.fa-10x {
  font-size: 10em;
}

.concern_tagline {
  height: 2em;
  margin-bottom: 1em;
  font-weight: 700;
  font-size: 2em;
}

.concern_icon {
  display: inline-block;
  margin-bottom: 2em;
}
/* End Second/Third Section*/

/****************ELECTRIC PACKAGES ***************/

/*sidebar*/
.sidebar {
  background-color: #ccc;
  position: fixed;
  width: 23.3%;
  height: 80%;
  z-index: 1;
}
.sidebar_title {
  text-align: center;
  font-size: 1.3em;
  color: white;
  font-weight: 500;
}
.sidebar_section {
  padding: 1em;
  border-bottom: 1px solid white;
  min-height: 8em;
  color: #777;
}
.sidebar_items {
  margin-top: 1em;
}
.sidebar_item {
  width: 45%;
  text-align: right;
  display: inline-block;
}
.quad_group {
  display: inline-block;
  text-align: center;
}


/*end sidebar*/
.electric_packages_big_right {
  display: inline-block;
  position: absolute;
  height: 80%;
  width: 73%;
  overflow: scroll;
  top: 6em;
}
.electric_packages_big_right, .electric_packages {
  background-color: #eee;
}
.electric_packages {
  /*background-color: green;*/
  padding: 1em;
/*  position: fixed;
  width: 73%;
  overflow: scroll;
  height: 100%;*/
}
.electric_package {
  /*background-color: blue;*/
  border: 1px solid black;
  margin-top: 5px;
  min-height: 18em;
  padding: 1em;
}
.electric_package_name {
  display: inline-block;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
.electric_package_price {
  font-size: 2.1em;
  margin-top: 10px;
}
.units {
  font-size: 0.3em;
}
.electric_package_actions {
  margin-top: 1em;
}
.electric_package_top {
  min-height: 12em;
}
.energy_badge {
  width: 30%;
  display: inline-block;
}
/* Start Footer */

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer_links {
  display: inline-block;
  margin: 0.5em;
}

/* End Footer */

/*MEDIA QUERIES*/
@media(max-width: 600px) {
  /* Intro Section */
  .intro-message {
    font-size: 2em;
  }
  #splash_input {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .sidebar {
    position: relative;
    width: 100%;
  }
  .electric_packages_big_right {
    position: relative;
    width: initial;
    top: inherit;
  }

}


/* Begin FAQ Page Styling */

.faq_title {
  margin-top: 20px;
  font-size: 4em;
}

.faq_header .intro-header {
   padding-bottom: 50px;
}

.faqs {
  padding: 0 20px 20px 20px;
}

.faqs ul {
  text-align: center;
  display: table;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.faqs li {
  display: table-cell;
  font-size: 30px;
}

.faqs li a {
  color: #5cb85c;
}

.faqs .accordion-heading {
  margin-bottom: 10px;
}

.faqs h1 a {
  text-decoration: none;
  color: black;
}

.faqs .accordion-toggle {
  font-size: 25px;
  color: grey;
}

.faqs .accordion-body {
  margin-bottom: 20px;
  font-size: 18px;
}


/* End FAQ Page Styling */